@use 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  width: 100%;
  margin: 0 auto;
  font-family: variables.$font-family;
  color: variables.$color-text;
  line-height: 1.6;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 40px;
}