$color-text: #000000;
$color-text-secondary: #727272;
$color-primary: #34547A;
$color-white: #FFFFFF;
$color-background: #EEEFF1;
$color-button-hover: #1F2A38;

$font-size-base: 16px;
$font-size-large: 48px;
$font-size-medium: 32px;
$font-size-small: 13px;
$font-size-stripe-number: 21px;

$font-family: 'Arial', sans-serif;